[user]
	name = mesmere
	email = 95945959+mesmere@users.noreply.github.com
	signingkey = /home/rileyann/.ssh/id_ed25519.pub
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
[init]
        defaultBranch = main
[pull]
        rebase = true
[rebase]
        autoStash = true
[diff]
	tool = nvimdiff
	guitool = meld
	colorMoved = default
[difftool]
	prompt = false
	guiDefault = false
[merge]
	tool = nvimdiff3
	guitool = meld
	conflictstyle = diff3
[mergetool]
	prompt = false
	guiDefault = false
	keepBackup = false
[mergetool "meld"]
	hasOutput = true
	useAutoMerge = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = /home/rileyann/.config/git/allowed_signers
[alias]
	gdiff = "difftool -dg"
	gmerge = "mergetool -g"
	review = "!sh -c 'pr=$0 && base=${1:-main} && if [ \"$0\" = \"sh\" -o \"$2\" != \"\" ]; then echo \"Usage: git review pr-number [base-branch]\"; false; fi && git fetch origin \"$base\" && git fetch origin \"refs/pull/$pr/head\" && mergebase=$(git merge-base \"origin/$base\" FETCH_HEAD) && git checkout -f $mergebase && if [ \"$mergebase\" = \"$(git show-ref -s \"refs/heads/$base\")\" ]; then echo \"This PR already incorporates the latest changes from $base. HEAD is moving to $base.\"; git symbolic-ref HEAD \"refs/heads/$base\"; fi && git merge --squash FETCH_HEAD'"
	review-merge = "!sh -c 'pr=$0 && base=${1:-main} && if [ \"$0\" = \"sh\" -o \"$2\" != \"\" ]; then echo \"Usage: git review-merge pr-number [base-branch]\"; false; fi && git fetch origin \"$base\" && git fetch origin \"refs/pull/$pr/head\" && mergebase=$(git merge-base \"origin/$base\" FETCH_HEAD) && git checkout -f $mergebase && if [ \"$mergebase\" = \"$(git show-ref -s \"refs/heads/$base\")\" ]; then echo \"This PR already incorporates the latest changes from $base. HEAD is moving to $base.\"; git symbolic-ref HEAD \"refs/heads/$base\"; fi && git merge --no-commit --no-ff FETCH_HEAD'"
